
/*big tablet to 1200px(widths smaller that the 1140px row */
@media only screen and (max-width:1200px)
{
.hero-text-box
{
width:100%;
padding:0 2%;
}

.main-nav{ padding:0 2%;}
.row{padding:0 2%;}
}

/*Small tablet to big tablet:from 768 to 1023px */
@media only screen and (max-width:1023px)
{
	body{font-size:18px;}
	section{padding:80px 0;}
	.long-copy
	{
		width:80%;
		margin-left:10%;
	}
	.step-box{margin-top:10px;}
	.step-box:last-child{margin-top:10px;}
	.work-step{margin-bottom:40px;}
	.work-step:last-of-type{margin-bottom:10px;}
	.app-screen{width:50%;}
	
	.icon-small{ 
	  width:17px;
	  margin-right:5px;
	}
	.city-feature{ font-size:90%;}
	.plan-box{
		width:100%;
	margin-left:0%;
	}
	.plan-price	{ font-size:250%;}
	. { width:80%;}

}
/*Small phones to small tablet :from 481 to 767px */
@media only screen and (max-width:857px)
{
	body{ font-size:16px;}
	section{padding:30px 0;}
   .hero-text-box,
   .row{padding:0 4%;}
   .col{ 
      width:100%;
	  margin:0 0 4 0;
	  }
	  
   .main-nav{display:none;}
   .mobile-nav-icon{display:inline-block;}
   .main-nav{
	   float:left;
	   margin-top:35px;
	   margin-left:25px;
	   }
   .main-nav li {display:block;}
    
   .main-nav li a:link,
   .main-nav li a:visited{
	   display:block;
	   border:0;
	   padding:10px 0;
	   height:100%;
       }
   
   .sticky .main-nav { margin-top:10px;}
   .sticky .main-nav li a:link,
   .sticky .main-nav li a:visited{padding:10px 0px;}
  .sticky .mobile-nav-icon i{color:#555}
   
   h1{ font-size:180%;}
   h2{ font-size:150%}
   .ali{ margin-left:50px;}
   
   .long-copy{
	   width:100%;
	   margin-left:0%;
   }
   
   .steps-box:first-child { text-align: center;}
   .work-step div{
	   height:40px;
	   width:40px;
	   margin-right:15px;
	   padding:4px;
	   font-size:120%;
	   
   }
   
   .work-step{margin-bottom:20px;}
   .work-step:last-of-type{margin-bottom:20px;}
   .app-screen{width:40%;}
    blockquote::before {
        font-size: 300%;
        margin-left: 8%;
		margin-top:8%;
     }
	 
	
}


/*Small phones:from 0 to 480px */
@media only screen and (max-width: 480px)
{
	section{padding:25px 0;}
	.contact-form{width:100%}
	
}