

/*BASIC SETUP*/
/*----------------*/
*
{
margin:0;
padding:0;
box-sizing:border-box;
}

html
{
background-color:#fff;
color:#555;
font-family:'Lato','Areal',sans-serif;
font-size:20px;
font-weight:300;
text-rendering:optimizeLegibility;
}
.clearfix {zoom: 1}
.clearfix:after{
	content:'.';
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
	
}


/*REUSABLE COMPONENTs*/
/*----------------*/
.row{
max-width:1140px;
margin:auto 0 auto 0;
}
section
{
	padding:80px 0;
}
.box
{
	padding:1%;
}

/* HEADING*/
/*----------------*/

h1,h2,h3
{
font-weight:300;
text-transform:uppercase;
letter-spacing:1px;

}
h1
{
	margin-top:0;
	margin-bottom:20px;
	color:#fff;
	font-size:240%;
	word-spacing:4px;
}
h2
{
	font-size:180%;
	word-spacing:2px;
	text-align:center;
	margin-bottom:30px;
}
h2:after
{
	display:block;
	height:2px;
	background-color:#e67e22;
	content:" ";
	width:100px;
	margin:0 auto;
	margin-top:30px;
}
h3
{
	
font-size:110%;
margin-bottom:15px;	
}

/*paragrapg*/
/*----------------*/

.long-copy
{
	line-height:145%;
	width:70%;
	margin-left:15%;
}
.box p{
font-size:90%;
line-height:145%;
}

/*Icon*/
/*----------------*/
.icon-big
{
	font-size:350%;
	display:block;
	color:#e67e22;
	margin-bottom:10px;
}

.icon-small
{
	display:inline-block;
	width:30px;
	text-align:center;
	color:#e67e22;
	font-size:80%;
	margin-right:5px;
	line-height:120%;
	vertical-align:middle;
	margin-top:-5px;
	
	
}

/*BUTTON*/
/*----------------*/
.btn:link, /*  unvisited link */
.btn:visited, /* visited link */
input[type=submit]
{
display:inline-block;
padding:10px 30px;
font-weight:300;
text-decoration:none;
border-radius:200px;
transition:background-color 0.3s,border 0.3s,color 0.3s;

}
.btn-full:link,
.btn-full:visited,
input[type=submit]
{

background-color:#e67e22;
border:1px solid #e67e22;
color:#fff;
margin-right:15px;
}
.btn-ghost:link,
.btn-ghost:visited 
{
border:1px solid #e67e22;
color:#e67e22;
}
.btn:hover, /* mouse over link */
.button:active, /* selected link */
input[type=submit]:hover,
input[type=submit]:active
{
 background-color:#cf6d17;

}
.btn-full:hover,
.btn-full:active
{
border:1px solid #cf6d17;
}
.btn-ghost:hover,
.btn-ghost:active 
{
border:1px solid #cf6d17;
color:#fff;
}


/*HEADER*/
/*----------------*/
header
{
background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/hero.jpg);
background-size:cover;
background-position:center;
height:100vh;
background-attachment:fixed;
}

.hero-text-box
{

margin-top:5%;
margin-left:20%;

}
.logo
{
	height:100px;
	width:auto;
	float:left;
	margin-top:20px;
	margin-left:15px;
	
}
.logo-black
{
	height:60px;
	width:auto;
	float:left;
	margin-left:15px;	
	display:none;
}
/*main nav*/
.main-nav
{
  float:right;
  list-style:none;
  margin-top:55px;
}
.main-nav li
{
	display:inline-block;
	margin-left:40px;
}
.main-nav li a:link,
.main-nav li a:visited
{
	padding:8px 0px;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	letter-spacing:1px;
	word-spacing:4px;
	font-size:90%;
	border-bottom:2px solid transparent;
	transition:border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active
{
	border-bottom:2px solid #e67e22;
}
/*mobile navi*/
.mobile-nav-icon
{
	float:right;
	margin-top:30px;
	cursor:pointer;
	display:none;
}
.mobile-nav-icon i
{
	font-size:200%;
	color:#fff;
}

/*sticky navi*/
.sticky
{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background-color:rgba(255,255,255,0.98);	
  box-shadow:0 2px 2px #efefef;
  z-index:9999;
  
}
.sticky .main-nav { margin-top:15px;}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited
{
	padding:16px 0px;
	color:#555;
}
.sticky .logo{display:none;}	
.sticky .logo-black{display:block;}



/*features*/
/*----------------*/
.section-features
{
margin-left:10%;
margin-right:10%;
color:	#000;
}

.section-features .long-copy
{
	margin:;
}



/*meals*/
/*----------------*/
.section-meals
{
	padding:0;
}
.meals-showcase
{
	list-style:none;
	width:100%;
}
.meals-showcase li
{
	display:block;
	float:left;
	width:25%;
}
.meal-photo
{
	width:100%;
	margin:0;
	overflow:hidden;
	background-color:#000;
}
.meal-photo img
{
	opacity:0.7;
	width:100%;
	height:auto;
	transform:scale(1.15);
	transition:transform 0.5s,opacity 0.5s;
	
}
.meal-photo img:hover
{
	opacity:1;
	transform:scale(1.03);
}


/*how it works*/
/*----------------*/
.section-steps
{
	background-color:#f4f4f4;
}

.steps-box:first-child
{
	text-align: right;
	padding-right:3%;
	margin-top:30px;
}
.steps-box:last-child
{
	padding-right:3%;
	margin-top:70px;
}
.app-screen
{
	width:40%;
	height:auto;

}
.work-step
{
margin-bottom:50px;
}
.steps-box
{
	float:left;
}
.ali
{
margin-left:100px;
}
.work-step div
{
	color:#e67e22;
	border:2px solid #e67e22;
	display:inline-block;
	border-radius:50%;
	height:50px;
	width:50px;
	text-align:center;
	padding:5px;
	float:left;
	font-size:150%;
	margin-right:25px;
}
.btn-app img
{
	
	height:50px;
	width:auto;
	margin-right:10px;
	margin-top:40px;
}

/*Cities*/
/*----------------*/

.box img
{
	width:100%;
	height:auto;
	margin-bottom:15px;
}
.city-feature
{
	margin-bottom:5px;
}
.section-cities
{
	margin-left:100px;
	margin-right:50px;
}
.city-feature a
{
	color:#e67e22;
	text-decoration:none;
	border-bottom:1px solid #e67e22 ;
	padding-bottom:1px;
	transition: border-bottom 0.2s,color 0.2s;
}
.city-feature a:hover
{
	color:#555;
	border-bottom:1px solid transparent ;
	
	
}

/*Testimonials*/
/*----------------*/
.section-testimonials
{
	background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/back-customers.jpg);
	background-size:cover;
	color:#fff;
	background-attachment:fixed;
}

blockquote
{
	padding:2%;
	font-style:italic;
	line-height:145%;

	
}
blockquote::before
{
	content:"\201C";
	font-size:500%;
	display:block;
	margin-left:8%;
	
}

cite
{
	font-size:90%;
	margin-top:25px;
	display:block;
}
cite img
{
height:45px;
border-radius:50%;
margin-right:10px;
vertical-align:middle;	
}
.lalign
{
	margin-left:100px;
	margin-right:50px;
}


/*Sign up*/
/*----------------*/

.section-plans
{
	background-color:#f4f4f4;
}
.plan-box
{
	background-color:#fff;
	border-radius:5px;
	width:100%;
	margin-left:5%;
	box-shadow:0 2px 2px #efefef;
}
.plan-box div
{
	padding:15px;
	border-bottom:1px solid #e8e8e8;
}
.plan-box div:first-child
{
	background-color:#fcfcfc;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	
}
.plan-box div:last-child
{
	text-align:center;
	bolder:0;
}
.plan-price
{
	font-size:300%;
	margin-bottom:10px;
	font-weight:100;
	color:#e67e22;
}
.plan-price span
{
	font-size:30%;
	font-weight:300;
	
}
.plan-price-meal
{
	font-size:80%;
}

.plan-box ul
{
	list-style:none;
}
.plan-box ul li
{
	padding:5px 0;
}

.lalign-plans
{
	margin-left:15%;
}
.contact-form
{
	width:60%;
	margin:0 auto;
}
input[type=text],
input[type=email],
textarea,
select
{
	
	width:100%;
	padding:7px;
	border-radius:3px;
	border:1px solid #ccc;
}
textarea
{
	height:100px;
}
input[type=checkbox]
{
	margin:10px 5px 10px 0;
}
*:focus
{
	outline:none;
}


/* Footer*/
/*----------------*/


footer
{
	background-color:#333;
	padding:50px;
	font-size:80%;
}
.footer-nav
{
	list-style:none;
	float:left;
	color:#000;
}
.social-links
{
   list-style:none;
   float:right;
   color:#000;
}
.footer-nav li,
.social-links li
{
   display:inline-block;
   margin-right:20px;
}
.footer-nav li:last-child,
.social-links li:last-child
{
   
   margin-right:0px;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited
{
	text-decoration:none;
	border:0;
	color:#888;
	transform:colorc 0.2s;
}
.footer-nav li a:hover,
.footer-nav li a:active
{
	color:#ddd;
}
footer p
{
	color:#888;
	text-align:center;
	margin-top:20px;
}
.social-links li a:link,
.social-links li a:visited
{
	font-size:150%;
}
.fa-facebook-f,
.fa-twitter,
.fa-google-plus-g,
.fa-instagram
{
	transition:color 0.3s;
}
.fa-facebook-f:hover
{
	color:#3b5998;
}
.fa-twitter:hover
{
	color:#00aced;
}
.fa-google-plus-g:hover
{
	color:#dd4b39;
}
.fa-instagram:hover
{
	color:#517fa4;
}


/* Animation*/
/*----------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3
{
	opacity:0;
	animation-duration:1s;
}
.js--wp--4
{
	animation-duration:1s;
}
}
.js--wp-1.aniamted
.js--wp-2.aniamted
.js--wp-3.aniamted
{
	opacity:1;
}
